/* #region Colors */
.black { background-color: black; }
.white { background-color: white; }

.red {          background-color: #c70639; }
.orange {       background-color: #ff8d1a; }
.yellow {       background-color: #ffc301; }
.lime {         background-color: #eedd53; }
.green {        background-color: #add45c; }
.green-tur {    background-color: #57c785; }
.turquoise {    background-color: #01baad; }
.blue {         background-color: #2a7b9b; }
.marine-blue {  background-color: #3d3d6b; }
.brown {        background-color: #511849; }
.cherry {       background-color: #900c3f; }
/* #endregion Colors */

@font-face {
  font-family: 'Squarely';
  src: url('./assets/Squarely.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

* { box-sizing: border-box; }

input {
  outline: none;
  font-family: 'Squarely';
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Squarely';
  color: #444;
}

/* #region HEADER */

header {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem 0;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, .1) 2%, rgba(255, 255, 255, 0) 2%), linear-gradient(90deg, rgba(0, 0, 0, .1) 2%, rgba(255, 255, 255, 0) 2%), #E6E6E6;
  background-size: 30px 30px;
}

header h1 { margin: 0; }

.btn-designsbar {
  position: absolute;
  top: calc(50% - 1.8rem); left: 1rem;

  width: 3.6rem; height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #bbb;

  cursor: pointer;
  overflow: hidden;
}
.btn-designsbar .line {
  position: relative;
  width: 80%; height: 6px;
  background-color: #555;
  border-radius: .5rem;
  transition: all .4s;
}

.btn-designsbar .line:nth-child(1) {top: 0rem;}
.btn-designsbar .line:nth-child(3) {bottom: 0rem;}

.btn-designsbar.active .line:nth-child(1) {
  width: 100%; top: .95rem;
  transform: rotate(45deg);
}
.btn-designsbar.active .line:nth-child(2) {
  transform: translateX(120%);
}
.btn-designsbar.active .line:nth-child(3) {
  width: 100%; bottom: 1rem;
  transform: rotate(-45deg);
}


/* #endregion */

main{
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: auto auto 1fr calc(120px + 2rem);
  background-color: rgba(0, 0, 0, .75);
}
/* #region MY DESIGNS */

.my-designs {
  box-sizing: content-box;
  width: 0rem;
  background-color: #fff;
  padding: 1.6rem 0;
  
  display: flex; gap: 1rem;
  flex-direction: column;
  
  border-right: 0px solid #999;
  color: #555;
  overflow: hidden;
  transition: width .4s, border-right-width .4s;
}
.my-designs.open {
  width: 16rem;
  border-right-width: 1px;
}

.my-designs .title {
  width: 16rem;
  display: flex; gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.my-designs .content {
  position: relative;
  width: 16rem; height: 100%;
  padding: 1rem 1rem 1rem 2rem;
  display: flex; gap: .6rem;
  flex-direction: column;
}
.my-designs .content .design {
  position: relative;
  display: flex; gap: 1rem;
  align-items: center;
  padding: .8rem 1.5rem;
  
  font-family: 'nirmala ui', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  border-radius: .5rem;
  border: 1px solid #808080;
  background-color: #eee;
  cursor: pointer;
}
.my-designs .content .design:hover { background-color: #ddd; }
.my-designs .content .design.selected::before {
  content: '';
  position: absolute;
  width: 0; height: 0;
  top: calc(50% - .8rem); left: -1.4rem;
  border-left: .8rem solid #555;
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
}

.my-designs .content .any-designs {
  position: absolute;
  top: 30%;
  display: flex; gap: .5rem;
  flex-direction: column;
  align-items: center;
  
  font-size: 1.8rem;
  color: #888;
  text-align: center;
}
.my-designs .content .any-designs i { font-size: 5rem; }

.my-designs .content .new-design {
  display: flex; gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: .8rem 1.5rem;
  margin-top: 1rem;

  font-size: 1.4rem;
  border-radius: 1.6rem;
  border: 2px dashed #808080;
  cursor: pointer;
}
.my-designs .content .new-design:hover {
  background-color: #eee;
}


/* #endregion */

/* #region COLOR PALETTE */

.color-palette {
  position: relative;
  height: 45.5rem;
  display: grid;
  grid-auto-columns: 3.5rem;
  grid-template-rows: repeat(13, 3.5rem);
  grid-auto-flow: column;
}

.color-palette .picker,
.color {
  box-sizing: border-box;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-palette .picker {
  position: relative;
  background: conic-gradient(
    hsl(360, 100%, 50%) 45deg,
    hsl(315, 100%, 50%) 45deg 90deg,
    hsl(270, 100%, 50%) 90deg 135deg,
    hsl(225, 100%, 50%) 135deg 180deg,
    hsl(180, 100%, 50%) 180deg 225deg,
    hsl(135, 100%, 50%) 225deg 270deg,
    hsl(90, 100%, 50%) 270deg 315deg,
    hsl(45, 100%, 50%) 315deg 360deg);
}
.color-palette .picker i {
  font-size: 1.5rem;
  padding: 5px;
  color: #444;
  background-color: #ffffffcc;
  /* filter: drop-shadow(0 0 2px #000); */
  border-radius: 50%;
  transition: transform .1s;
}
.color-palette .picker:hover > i { transform: scale(1.2); }


.color:first-child { border-radius: 0 5px 0 0; }
.color:last-child { border-radius: 0 0 5px 0; }

.color i {
  display: none;
  font-size: 2rem;
  mix-blend-mode: color-dodge;
}

.color:hover {
  /* position: relative; */
  transform: scale(1.2);
  border-radius: 5px;
}
.color.active > i {display: inline-block;}

.color.active.black i { color: white; mix-blend-mode: normal; }
.color.active.white i { color: black; mix-blend-mode: normal; }

.color-palette > label {
  position: absolute;
  bottom: -3.5rem; left: 0;
}
.color-palette label .picker {
  width: 3.5rem; height: 3.5rem;
}

.color-palette .picker input[type="color"] {
  position: absolute; opacity: 0;
}


/* #endregion */

/* #region GRID */

.content-paint-grid { display: flex; }
.paint-grid {
  display: grid;

  width: fit-content;
  height: fit-content;
  margin: 2rem auto;
  background-color: #eee;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5);
}
.paint-grid.pressed .painter-block {
  cursor: url('./assets/paint-brush-solid.svg') 2 2, auto;
}
.paint-grid.erasing .painter-block {
  cursor: url('./assets/eraser-solid.svg') 1 4, auto;
}

.painter-block {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  cursor: pointer;

  border-top: 1px solid rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.painted {
  border-top-color: transparent;
  border-left-color: transparent;
}

/* #endregion */

/* #region OPTIONS */

.settings-container {
  display: flex; flex-direction: column;
  background-color: #fff;
  font-size: 1.4rem;
}
.settings-container input {
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  border-radius: 2px;
  padding: .2rem .3rem;
  font-family: 'nirmala ui', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}
.settings-container input:hover { border-color: #ccc; }
.settings-container input:focus { border-color: #56CCF2; }


.settings-container .option {
  display: flex; flex-direction: column;
  gap: .5rem;
  margin: 0;
  padding: .6rem 1rem 1rem;
  border-bottom: 1px solid #888;
  color: #999;
}
/* .settings-container .option:first-child { border-top: 1px solid #888; } */

.option .row {
  display: flex; gap: .5rem;
  align-items: center;
}
.option .row.title { color: #555; }
.option .content {
  display: flex; flex-direction: column;
  gap: .5rem;
}


.option.grid .content {
  display: grid; gap: .5rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.option.grid .content > span { font-size: 1.3rem; }
.option.grid .content > input { font-size: 1rem; }

.option.grid .content > span:nth-child(1) { grid-column: 1; grid-row: 1; }
.option.grid .content > input:nth-child(2) { grid-column: 2; grid-row: 1; }
.option.grid .content > span:nth-child(3) { grid-column: 1; grid-row: 2; }
.option.grid .content > input:nth-child(4) { grid-column: 2; grid-row: 2; }


.option .wrapper-switch-btn {
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.wrapper-switch-btn input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  margin: 0;
}
.wrapper-switch-btn > i {font-size: 1.1rem;}

.wrapper-switch-btn:hover > i { color: #666; }
.wrapper-switch-btn:hover .switch-btn { border-color: #555; }
.wrapper-switch-btn:hover .switch-btn .circle { background-color: #555; }

.switch-btn {
  position: relative;
  z-index: 10;

  display: flex;
  
  width: 3.2rem;
  padding: .2rem;
  border: solid 2px #888;
  border-radius: calc(.5rem + .4rem);
  cursor: pointer;
}

.wrapper-switch-btn .switch-btn .circle {
  position: relative;
  width: 1rem; height: 1rem;
  border-radius: .5rem;
  background-color: #888;
  left: 0px;

  transition: left .2s;
}
.wrapper-switch-btn input[type="checkbox"]:checked + label .switch-btn {
  border: solid 2px #56CCF2;
}
.wrapper-switch-btn input[type="checkbox"]:checked + label .switch-btn .circle {
  background-color: #56CCF2; left: 1.6rem;
}
.wrapper-switch-btn input[type="checkbox"]:checked ~ i { color: #56CCF2;}

.option.erase .content .row:nth-child(2),
.option.capture .row,
.option.save .row { justify-content: center; }


.row > .btn {
  width: 90%;
  justify-content: center;
}

.btn {
  position: relative;
  padding: .3em .8rem;
  display: flex; gap: .3rem;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 1rem;

  background-color: #eee;
  color: #777;
  font-size: 1.1rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover { background-color: #fff; }
.btn:active {
  border-color: #56CCF2;
  color: #56CCF2;
  background-color: #56CCF211;
}
.btn.active { border-top: 6px solid #333; }

.btn i {
  font-size: 1rem;
}

.btn > .tooltip {
  position: absolute;
  width: 9rem;
  right: 120%;
  top: 25%;
  border-radius: 5px;
  padding: .5rem .7rem;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  font: bold .8rem 'Segoe UI';
  /* font-size: ; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.btn > .tooltip::after {
  content: ''; position: absolute;
  top: calc(50% - 2.5px);
  left: calc(100% + 5px);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, .7);
}
.btn:hover > .tooltip {
  opacity: 1; visibility: visible;
}

/* #endregion */

/* #region Capture */
.modal-container {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  z-index: 20;

  background-color: rgba(0, 0, 0, 0.8);
}
.modal-container.visible {
  display: flex; gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container > i {
  position: absolute;
  top: 10px; right: 10px;

  color: #ccc;
  font-size: 2.8rem;
  cursor: pointer;
}

.modal-container i:hover { color: white; }

.capture-modal { display: none; }
.capture-modal.visible { display: block; }

.capture-modal .capture-options {
  display: flex; gap: 1rem;
  justify-content: center;
  padding: 1rem;

  background-color: #222;
  border-radius: .5rem;
}

.capture-modal .capture-options > .btn {
  padding: 1rem;
  color: #eee;
  background-color: initial;
  border-color: transparent;
  border-radius: .2rem;
}
.capture-modal .capture-options > .btn:hover { background-color: #ffffff33; }
.capture-modal .capture-options > .btn:active { background-color: #ffffff55; }
.capture-modal .capture-options > .btn i { font-size: 1.5rem; }

/* Modal para el Nombre del Lienzo */

.save-name-modal {
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.save-name-modal.visible { display: flex; }

.save-name-modal > span {
  font-size: 1.8rem;
  color: #ddd;
}
.save-name-modal > input {
  width: 25rem;
  font-family: 'nirmala ui', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  background-color: initial;
  border-style: none;
  border-bottom: 1px solid #ccc;
  caret-color: #ccc;
}
.save-name-modal > button {
  align-self: flex-end;
  display: flex; gap: .5rem;
  align-items: center;
  width: fit-content;
  padding: .5rem 1rem;
  
  font-family: inherit;
  font-size: 1.4rem;
  color: #fff;
  background-color: #56CCF2dd;
  border-style: none;
  border-radius: .2rem;
  cursor: pointer;
}
.save-name-modal > button:hover { background-color: #56CCF2; }

/* #endregion */
