/* #region Colors */
.black { background-color: black; }
.white { background-color: white; border: 1px solid #ccc; }

.red {          background-color: #c70639; }
.orange {       background-color: #ff8d1a; }
.yellow {       background-color: #ffc301; }
.lime {         background-color: #eedd53; }
.green {        background-color: #add45c; }
.green-tur {    background-color: #57c785; }
.turquoise {    background-color: #01baad; }
.blue {         background-color: #2a7b9b; }
.marine-blue {  background-color: #3d3d6b; }
.brown {        background-color: #511849; }
.cherry {       background-color: #900c3f; }
/* #endregion Colors */

@font-face {
  font-family: 'Squarely';
  src: url('./assets/Squarely.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

* { box-sizing: border-box; }

input {
  outline: none;
  font-family: 'Squarely';
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Squarely';
  color: #444;
}


header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .1) 2%, rgba(255, 255, 255, 0) 2%), linear-gradient(90deg, rgba(0, 0, 0, .1) 2%, rgba(255, 255, 255, 0) 2%), #E6E6E6;
  background-size: 30px 30px;
}
header h1 { margin: 0; }
main{
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 3.5rem 1fr calc(120px + 2rem);
  background-color: rgba(0, 0, 0, .8  );
}

/* #region COLOR PALETTE */

.color-palette {
  display: flex; flex-direction: column;
}
.color:first-child { border-radius: 0 5px 0 0; }
.color:last-child { border-radius: 0 0 5px 0; }

.color {
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.color:hover {
  position: relative;
  transform: scale(1.2);
  border-radius: 5px;
}

.color.active {
  transform: scale(1.2);
  border-radius: 5px;
}
.color i {
  font-size: 2rem; mix-blend-mode: color-dodge;
}
.color.active.black i { color: white; mix-blend-mode: normal; }
.color.active.white i { color: black; mix-blend-mode: normal; }

/* #endregion */

/* #region GRID */

.content-paint-grid { display: flex; }
.paint-grid {
  display: grid;

  width: fit-content;
  height: fit-content;
  margin: 2rem auto;
  background-color: #eee;
  border-radius: 3px;
}
.paint-grid.pressed .painterBlock {
  cursor: url('./assets/paint-brush-solid.svg') 2 2, auto;
}
.paint-grid.erasing .painterBlock {
  cursor: url('./assets/eraser-solid.svg') 1 4, auto;
}

.painterBlock {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  cursor: pointer;

  border-top: 1px solid rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.painted {
  border-top-color: transparent;
  border-left-color: transparent;
}

/* #endregion */

/* #region OPTIONS */

.settings-container {
  display: flex; flex-direction: column;
  background-color: white;
  font-size: 1.4rem;
}
.settings-container input {
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  border-radius: 2px;
  padding: .2rem .3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.settings-container input:hover { border-color: #ccc; }
.settings-container input:focus { border-color: #56CCF2; }


.settings-container .option {
  display: flex; flex-direction: column;
  gap: .5rem;
  margin: 0;
  padding: .6rem 1rem 1rem;
  border-bottom: 1px solid #888;
  color: #999;
}
.settings-container .option:first-child { border-top: 1px solid #888; }

.option .row {
  display: flex; gap: .5rem;
  align-items: center;
}
.option .row.title { color: #555; }
.option .content {
  display: flex; flex-direction: column;
  gap: .5rem;
}


.option.grid .content {
  display: grid; gap: .5rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.option.grid .content > span { font-size: 1.3rem; }
.option.grid .content > input { font-size: 1rem; }

.option.grid .content > span:nth-child(1) { grid-column: 1; grid-row: 1; }
.option.grid .content > input:nth-child(2) { grid-column: 2; grid-row: 1; }
.option.grid .content > span:nth-child(3) { grid-column: 1; grid-row: 2; }
.option.grid .content > input:nth-child(4) { grid-column: 2; grid-row: 2; }


.option .wrapper-switch-btn {
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.wrapper-switch-btn input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  margin: 0;
}
.switch-btn {
  position: relative;
  z-index: 10;

  display: flex;
  
  width: 3.2rem;
  padding: .2rem;
  border: solid 2px #888;
  border-radius: calc(.5rem + .4rem);
  cursor: pointer;
}

.wrapper-switch-btn .switch-btn .circle {
  position: relative;
  width: 1rem; height: 1rem;
  border-radius: .5rem;
  background-color: #888;
  left: 0px;

  transition: all .2s;
}
.wrapper-switch-btn input[type="checkbox"]:checked + label .switch-btn {
  border: solid 2px #56CCF2;
}
.wrapper-switch-btn input[type="checkbox"]:checked + label .switch-btn .circle {
  background-color: #56CCF2; left: 1.6rem;
}
.wrapper-switch-btn input[type="checkbox"]:checked ~ i { color: #56CCF2;}

.option.capture .row,
.option.save .row { justify-content: center; }



.btn {
  position: relative;
  padding: .3em .8rem;
  display: flex; gap: .3rem;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 1rem;

  background-color: #eee;
  color: #777;
  font-size: 1.1rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover { background-color: #fff; }
.btn:active {
  border-color: #56CCF2;
  color: #56CCF2;
  background-color: #56CCF211;
}
.btn.active { border-top: 6px solid #333; }

.btn i {
  font-size: 1rem;
}

.btn > .tooltip {
  position: absolute;
  width: 9rem;
  right: 120%;
  top: 25%;
  border-radius: 5px;
  padding: .5rem .7rem;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  font: bold .8rem 'Segoe UI';
  /* font-size: ; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.btn > .tooltip::after {
  content: ''; position: absolute;
  top: calc(50% - 2.5px);
  left: calc(100% + 5px);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, .7);
}
.btn:hover > .tooltip {
  opacity: 1; visibility: visible;
}


/* #endregion */

/* #region Capture */

.capture-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.capture-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(48, 46, 44, 0.7);
}
.capture-container.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.capture-container > i {
  position: absolute;
  top: 10px;
  right: 10px;

  color: #ccc;
  font-size: 2.8rem;
  cursor: pointer;
}
.capture-container i:hover {
  color: white;
}
/* #endregion */
