/* #region VARIABLES */

:root {

  /* Gray scale */

  --black-color: #000000;
  --gray1-color: #0D0D0D;
  --gray2-color: #1A1A1A;
  --gray3-color: #262626;
  --gray4-color: #333333;
  --gray5-color: #404040;
  --gray6-color: #4C4C4C;
  --gray7-color: #595959;
  --gray8-color: #666666;
  --gray9-color: #737373;
  --gray10-color: #808080;
  --gray11-color: #8C8C8C;
  --gray12-color: #999999;
  --gray13-color: #A6A6A6;
  --gray14-color: #B3B3B3;
  --gray15-color: #C0C0C0;
  --gray16-color: #CDCDCD;
  --gray17-color: #E5E5E5;
  --gray18-color: #F2F2F2;
  --white-color: #FFFFFF;

  /* Colors */

  --primary-color: #FF8F2C;
  --primary-80-color: #FF8F2CDD;
  --primary-opaque-color: #FFA048;
  --secondary-color: #EB5757;
  --light-color: #F5F5F5;

  /* Gradients */

  --primary-gradient: linear-gradient(
    0deg,
    #FFB628,
    #FF8F28
  );
  --primary-gradient-50deg: linear-gradient(
    50deg,
    #FFB628,
    #FF8F28
  );
  --secondary-gradient: linear-gradient(
    0deg,
    #FF6745,
    #FFB23E
  );
  --light-gradient: linear-gradient(
    0deg,
    rgba(0 0 0 / 0),
    rgba(0 0 0 / .4)
  ), linear-gradient(
    0deg,
    #FFB628,
    #FF8F28
  );
  --grid-gradient: linear-gradient(
    0deg,
    #2A2A2A 10%,
    rgba(255, 255, 255, 0) 10%
  ), linear-gradient(
    90deg,
    #2A2A2A 10%,
    rgba(255, 255, 255, 0) 10%
  ), var(--gray4-color);

  /* Font */

  --font-default: "Nunito Sans", sans-serif;

  /* Sizes */

  --canvasbar-width: 18rem;
  --canvasbar-collapsed-width: 7rem;
}

/* #endregion VARIABLES */


/* #region RESET */

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

/* #endregion RESET */


/* #region GENERAL STYLES */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, .5) transparent;
  /* scrollbar-gutter: stable both-edges; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px; height: 5px;
}
*::-webkit-scrollbar-button {
  width: 0; height: 0; display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--black-color);
}

*::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 5px;
}
*::-webkit-scrollbar-track:hover {
  background: #d6d6d6;
}
*::-webkit-scrollbar-track:active {
  background: #d6d6d6;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


ul {
  list-style: none;
}
input {
  outline: none;
  border-style: solid;
  font-family: var(--font-default);
  width: 100%;
}

button {
  font-family: var(--font-default);
  border-style: solid;
  background-color: transparent;
  cursor: pointer;
}

body {
  height: 100vh;
  max-height: 100vh;
  font-family: var(--font-default);
  color: var(--gray5-color);
  background-color: var(--gray4-color);
}
body > .container {
  display: grid;
  grid-template-areas:
    "header header header"
    "CanvasBar containerGrid settingsBar";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 5.4rem calc(100% - 5.4rem);
  width: 100%; height: 100%;
}

/* #endregion GENERAL STYLES */

/* COMMON COMPONENTS */

/* #region Button */

.Button {
  padding: .6rem 1.2rem;
  display: flex; gap: .3rem;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: var(--gray5-color);
  border-radius: 0.3125rem;
  color: var(--gray17-color);
  font-size: .9rem;
  font-weight: 400;

  cursor: pointer;
}
.Button:hover {
  background-color: var(--gray6-color);
}
.Button-text {
  font-weight: 300;
}
.Button-icon {
  width: 1.2rem; height: 1.2rem;
  fill: var(--gray17-color);
}

/* #endregion Button */

/* #region Button--dashed */

.Button--dashed {
  width: 100%;
  padding: 0.8rem 1.25rem;

  background-color: var(--gray5-color);
  border: 2px dashed var(--gray15-color);
  color: var(--gray15-color);
  font-size: 1rem;
}
.Button--dashed:hover {
  background-color: var(--gray4-color);
}
.Button--dashed .Button-icon {
  width: 1.56rem;
  height: 1.56rem;
  fill: var(--gray15-color);
}
.Button--dashed .Button-text {
  display: block;
  font-weight: 700;
  transition: width .4s;
}

/* #endregion Button--dashed */

/* #region IconButton */

.IconButton {
  padding: 0;
  width: 2rem;
  aspect-ratio: 1 / 1;
}
.IconButton-icon {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
}

/* #endregion IconButton */

/* #region ButtonGroup */

.ButtonGroup {
  width: 100%;
  display: flex; gap: 4px;
  background-color: var(--gray2-color);
  border-radius: 5px;
}
.ButtonGroup .Button {
  flex-grow: 1;
  height: 2.375rem;
  padding: 0;
  background-color: transparent;
  fill: var(--gray12-color);
}
.ButtonGroup .Button:hover {
  background-color: var(--gray3-color);
}
.ButtonGroup .Button.is-selected {
  background-color: var(--gray6-color);
}
.ButtonGroup .Button .Button-icon {
  width: 1.5rem; height: 1.5rem;
  fill: var(--gray12-color);
}
.ButtonGroup .Button.is-selected .Button-icon {
  fill: var(--gray17-color);
}

/* #endregion ButtonGroup */

/* #region Input */

.Input-wrapper {
  display: inline-block;
  padding: .5rem .8rem;
  border-radius: 5px;
  background-color: var(--gray2-color);
}
.Input {
  width: auto;

  border-style: none;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray16-color);
  background-color: transparent !important;
}
input.Input:-internal-autofill-selected {
  background-color: transparent !important;
}
/* .Input:hover {  } */
.Input:focus { border-bottom-color: var(--gray8-color); }

/* #endregion Input */

/* #region ColorPicker */

/* .ColorPicker {
  position: relative;
  width: 3.5rem; height: 3.5rem;
  overflow: hidden;

  background-color: #FFF;
  cursor: pointer;
}

.ColorPicker-back {
  width: 5rem; height: 5rem;
  position: relative;
  left: -0.75rem; top: -0.75rem;
  background: conic-gradient(
    hsl(360, 100%, 50%) 45deg,
    hsl(315, 100%, 50%) 45deg 90deg,
    hsl(270, 100%, 50%) 90deg 135deg,
    hsl(225, 100%, 50%) 135deg 180deg,
    hsl(180, 100%, 50%) 180deg 225deg,
    hsl(135, 100%, 50%) 225deg 270deg,
    hsl(90, 100%, 50%) 270deg 315deg,
    hsl(45, 100%, 50%) 315deg 360deg);
  filter: blur(6px) opacity(70%) brightness(110%);
}

.ColorPicker-input { display: none; }

.ColorPicker-icon {
  width: 2rem; height: 2rem;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--gray4-color);
} */

.ColorPicker {
  display: flex; gap: .4rem;
  align-items: center;
  justify-content: center;
  padding: .5rem 0.875rem;
  background-color: var(--gray2-color);
  border-radius: 5px;
}
.ColorPicker-inputColorLabelWrapper {
  position: relative;
}
.ColorPicker-inputColor {
  width: 0;
  border: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.ColorPicker-box {
  position: relative;
  display: flex;
  width: 1.25rem;
  /* flex: 0 0 1.4rem; */
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
.ColorPicker-box::after {
  content: '';
  display: flex;
  position: absolute;
  inset: 0 0 0 0;
  border: 2px solid rgba(255, 255, 255, .5);
}
.ColorPicker-inputText {
  width: 5.5rem;

  font-size: .85rem;
  font-weight: 400;
  color: var(--gray14-color);
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid transparent;
  transform: translateY(1px);
}
.ColorPicker-inputText:hover { border-bottom-color: transparent; }
.ColorPicker-inputText:focus { border-bottom-color: var(--gray8-color); }

/* #endregion ColorPicker */

/* #region SwitchButton */

.SwitchButton {
  display: inline-flex; gap: .6rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SwitchButton-input { display: none; }

.SwitchButton-label {
  font-size: 14px;
  color: var(--gray12-color);
  font-weight: 500;
}
/* .SwitchButton-command {
  padding: .1rem .5rem;
  color: var(--gray12-color);
  font-size: 1.125rem;
  font-weight: 400;
  background-color: var(--gray6-color);
  border: 1px solid var(--gray12-color);
  border-radius: 3px;
} */
.SwitchButton-shape {
  display: flex;
  align-items: center;
  width: 56px;
  /* height: 26px; */
  padding: 3px;

  background-color: var(--gray2-color);
  border-radius: 13px;
  cursor: pointer;
}

.SwitchButton-circle {
  position: relative;
  width: 20px; height: 20px;
  left: 0;

  border-radius: 10px;
  background-color: var(--gray12-color);
  transition: left .2s;
}

.SwitchButton:hover .SwitchButton-shape { background-color: var(--gray3-color); }
.SwitchButton:hover .SwitchButton-circle { background-color: var(--gray16-color); }

.SwitchButton-input:checked + .SwitchButton-wrapperShape .SwitchButton-shape {
  background-color: var(--primary-80-color);
}
.SwitchButton-input:checked + .SwitchButton-wrapperShape .SwitchButton-circle {
  background-color: var(--light-color); left: calc(100% - 20px);
}

/* #endregion SwitchButton */

/* #region ColorPaletteDropdown */

.ColorPaletteDropdown {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 8rem;
}
.ColorPaletteDropdown-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem 0.625rem;

  background-color: var(--gray2-color);
  /* border-bottom: 1px solid var(--gray8-color); */
  border-radius: 5px;
  cursor: pointer;
}
.ColorPaletteDropdown-select:hover {
  border-bottom-color: var(--gray12-color);
}
.ColorPaletteDropdown-selectIcon {
  width: 1rem;
  aspect-ratio: 1 / 1;
  fill: var(--gray14-color);
}
.ColorPaletteDropdown-select:hover .ColorPaletteDropdown-selectIcon {
  fill: var(--gray16-color);
}
.ColorPaletteDropdown-selectText {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray14-color);
}
.ColorPaletteDropdown-select:hover .ColorPaletteDropdown-selectText {
  color: var(--gray16-color);
}
.ColorPaletteDropdown-selectList {
  display: none;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 12rem;
  padding: 6px;
  overflow: auto;
  background-color: var(--gray2-color);
  border-radius: 6px;
  z-index: 1;
}
.ColorPaletteDropdown.is-expanded .ColorPaletteDropdown-selectList {
  display: flex;
}
.ColorPaletteDropdown-item {
  padding: 5px 5px 6px;
  border-radius: 3px;
}
.ColorPaletteDropdown-item:hover {
  background-color: var(--gray3-color);
}
.ColorPaletteDropdown-item.is-selected {
  background-color: var(--gray4-color);
}
.ColorPaletteDropdown-itemName {
  font-size: .85rem;
  font-weight: 600;
  color: var(--gray14-color);
}
.ColorPaletteDropdown-item:hover .ColorPaletteDropdown-itemName {
  color: var(--gray16-color);
}
.ColorPaletteDropdown-item.is-selected .ColorPaletteDropdown-itemName {
  color: var(--gray16-color);
}
.ColorPaletteDropdown-itemColors {
  position: relative;
  height: 1.25rem;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}
.ColorPaletteDropdown-itemColors::after {
  content: '';
  display: flex;
  position: absolute;
  inset: 0 0 0 0;
  border: 2px solid rgba(255, 255, 255, .5);
}
.ColorPaletteDropdown-itemColor {
  flex: 1 1 auto;
}
.ColorPaletteDropdown-preview {
  position: relative;
  height: 1.25rem;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}
.ColorPaletteDropdown-preview::after {
  content: '';
  display: flex;
  position: absolute;
  inset: 0 0 0 0;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: inherit;
}
.ColorPaletteDropdown-previewColor {
  flex: 1 1 auto;
}

/* #endregion ColorPaletteDropdown */

/* #region ZoomControl */

.ZoomControl {
  --border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  background-color: var(--gray3-color);
  border-radius: var(--border-radius);
  user-select: none;
}
.ZoomControl-button {
  width: 2rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--gray17-color);
  border-radius: var(--border-radius);
}
.ZoomControl-percentage {
  padding: 0 .4rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray12-color);
}
.ZoomControl-percentage::after { content: '%'; }

/* #endregion ZoomControl */

/* CUSTOM COMPONENTS */

/* #region Header */

.Header {
  grid-area: header;
  position: relative;
  display: flex; gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem 0 0;

  background: var(--grid-gradient);
  background-size: 22px 22px;
  border-bottom: 1px solid var(--gray6-color);
}

.Brand {
  display: flex;
  gap: .6rem;
  align-items: center;
  padding-bottom: .2rem;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .3));
}
.Brand-isotype {
  width: 1.6rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
.Brand-logotype {
  height: 1.3rem;
  aspect-ratio: 45 / 8;
  object-fit: contain;
}

/* #region Menu */

.Menu {
  padding: .55rem;
  --menu-width: 2.7rem;
  width: var(--menu-width);
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: calc(var(--canvasbar-collapsed-width) / 2 - (var(--menu-width) / 2));

  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0 0 0 / .2);
}
.Menu-line {
  position: relative;
  height: 3.2px;
  background-color: var(--primary-color);
  border-radius: .5rem;
  transition: width .3s;
}

.Menu:hover { background-color: var(--gray2-color); }

.Menu .Menu-line:nth-child(1) { width: 100%; }
.Menu .Menu-line:nth-child(2) { width: 75%; }
.Menu .Menu-line:nth-child(3) { width: 50%; }

/* State .is-collapsed */
.Menu.is-collapsed .Menu-line:nth-child(1),
.Menu.is-collapsed .Menu-line:nth-child(3) { width: 35%; }
.Menu.is-collapsed .Menu-line:nth-child(2) { width: 60%; }

/* #endregion Menu */

/* #endregion Header */

/* #region CanvasBar */

.CanvasBar {
  grid-area: CanvasBar;
  width: var(--canvasbar-width);
  padding: 1.6rem 0;

  display: flex; gap: 2rem;
  flex-direction: column;
  align-items: center;

  background-color: var(--gray3-color);
  border-right: 1px solid var(--gray6-color);
  color: var(--light-color);
  overflow: hidden;
  transition: width .4s, border-right-width .4s;
}
.CanvasBar.is-collapsed { width: var(--canvasbar-collapsed-width); }

.CanvasBar-title {
  display: flex; gap: .5rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  transition: gap .4s;
  color: var(--gray16-color);
  width: 100%;
  padding: 0 2.25rem;
}
.CanvasBar.is-collapsed .CanvasBar-title {
  gap: 0;
  justify-content: center;
  transition: gap .4s .2s;
}

.CanvasBar-titleText {
  width: var(--width, 100%);
  overflow: hidden;
  transition: width .4s;
}
.CanvasBar.is-collapsed .CanvasBar-titleText {
  width: 0px;
}

.CanvasBar-icon {
  width: 1.25rem;
  aspect-ratio: 30 / 40;
  fill: var(--gray16-color);
}

.CanvasBar-body {
  width: 100%;
  display: flex; gap: 1.875rem;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.CanvasBar-list {
  position: relative;
  width: 100%;
  display: flex; gap: 1rem;
  flex-direction: column;
}
.CanvasBar.has-no-designs .CanvasBar-list {
  display: none;
}

.CanvasBar-separator {
  width: 30%;
  border: none;
  border-top: 1px solid var(--gray6-color);
}

/* #region DesignList */

.CanvasItem {
  position: relative;
  width: 100%;
  height: 3.4rem;
  display: flex; gap: .5rem;
  align-items: center;
  padding: 0 1.5rem;

  border-radius: .625rem;
  background-color: var(--gray5-color);
  color: var(--gray16-color);
  cursor: pointer;
}
.CanvasItem:hover {
  background-color: var(--gray2-color);
  color: var(--gray17-color);
}

.CanvasBar.is-collapsed .CanvasItem {
  gap: 1rem;
  padding: .8rem;
  justify-content: center;
}

.CanvasItem-icon {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  fill: var(--gray16-color);
}
/* .CanvasBar.is-collapsed .CanvasItem-icon {} */

.CanvasItem-name {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: .875rem;
  font-weight: 600;
  display: flex; gap: .5rem;
  align-items: center;
  padding: .1rem;
  border-radius: 2px;
}
.CanvasItem-name:focus {
  outline: var(--gray17-color) solid 1px;
  caret-color: white;
}
.CanvasBar.is-collapsed .CanvasItem-name { display: none; }

.CanvasItem-menu {
  display: flex; gap: 2px;
  align-items: center;
  padding: .6rem .3rem;

  border-radius: 4px;
  cursor: pointer;
}
.CanvasItem-menu:hover {
  background-color: var(--gray4-color);
}
.CanvasBar.is-collapsed .CanvasItem-menu { display: none; }

.CanvasItem-menuIcon {
  fill: var(--gray17-color);
}

.CanvasItem-indicator {
  display: none;
  width: .7rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--gray10-color);
  background-color: white;
}
.CanvasBar.is-collapsed .CanvasItem-indicator {
  position: absolute;
  right: 1.5rem;
}


.CanvasItem.is-selected {
  width: calc(100% + 1.5rem);
  padding: .8rem 1.5rem;

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--primary-opaque-color);
  color: var(--gray4-color);
  border-color: transparent;
}
.CanvasBar.is-collapsed .CanvasItem.is-selected {
  padding-left: .5rem;
  padding-right: calc(1.5rem + .5rem);
}

.CanvasItem.is-selected .CanvasItem-icon {
  fill: var(--gray4-color);
}
.CanvasItem.is-selected .CanvasItem-name:focus {
  outline: var(--gray4-color) solid 2px;
  caret-color: white;
}
.CanvasItem.is-selected .CanvasItem-menu:hover {
  background-color: rgba(0 0 0 / .2);
}
.CanvasItem.is-selected .CanvasItem-menuIcon {
  fill: var(--gray4-color);
}
.CanvasItem.is-selected .CanvasItem-indicator { display: block; }
.CanvasItem.is-selected .CanvasItem-indicator.is-saved {
  background-color: #0FD346;
  border-color: #26671B;
}
/* .CanvasItem.is-selected .CanvasItem-indicator.is-notSaved {
  background-color: #E92828;
} */

/* .DesignsList-design.is-selected::before {
  content: '';
  position: absolute;
  width: 0; height: 0;
  top: calc(50% - .8rem); left: -1.4rem;
  border-left: .8rem solid #555;
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
} */

/* #endregion DesignList */

/* #region WithoutCanvasPanel */

.CanvasBar.has-no-designs .WithoutCanvasPanel {
  display: flex;
}
.WithoutCanvasPanel {
  margin-top: 1.25rem;
  display: none; gap: .8rem;
  flex-direction: column;
  align-items: center;

  color: var(--gray14-color);
  text-align: center;
}
.WithoutCanvasPanel-icon {
  width: 6.25rem;
  aspect-ratio: 1 / 1;
  fill: var(--gray10-color);
}
.CanvasBar.is-collapsed .WithoutCanvasPanel-icon {
  width: 3.75rem;
}

.WithoutCanvasPanel-subtitle::before {
  content: 'You still have no Canvases';
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  transition: font-size .4s;
}
.CanvasBar.is-collapsed .WithoutCanvasPanel-subtitle::before {
  content: 'No Canvases';
  font-size: 1rem;
  line-height: 100%;
}

/* #endregion WithoutCanvasPanel */

.CanvasBar.is-collapsed .NewCanvasButton {
  width: fit-content;
}

.CanvasBar.is-collapsed .NewCanvasButton .Button-text {
  display: none;
}

/* #endregion CanvasBar */

/* #region CanvasEditor */

.container-CanvasEditor {
  grid-area: containerGrid;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  overflow: auto;
  padding: 2rem;
}
.container-CanvasEditor.no-canvas {
  padding: 0;
}

.CanvasEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
}
.container-CanvasEditor.no-canvas .CanvasEditor {
  display: none;
}

.CanvasEditor-wrapper {
  display: grid;
  /* width: 100%; height: 100%; */
  background-color: var(--gray17-color);
  box-shadow: 10px 0 30px 10px rgba(0, 0, 0, .2);
}

.CanvasEditor.is-brushPressed .CanvasEditor-pixel {
  cursor: url("../icons/cursor-brush-icon.svg") 2 2, auto;
}
.CanvasEditor.is-eraserPressed .CanvasEditor-pixel {
  cursor: url("../icons/cursor-eraser-icon.svg") 1 4, auto;
}

.CanvasEditor-pixel {
  /* width: 2.5rem; height: 2.5rem; */
  box-sizing: border-box;
  cursor: pointer;

  border-top: 1px solid rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.is-painted {
  border-top-color: transparent;
  border-left-color: transparent;
}

/* #endregion AppGrid */

/* #region WelcomeContainer */

.WelcomeContainer {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1.6rem;

  font-size: 16px;
  text-align: center;
  background-color: var(--gray3-color);
  color: var(--gray17-color);
  overflow: auto;
}
.container-CanvasEditor.no-canvas .WelcomeContainer {
  display: flex;
}

.WelcomeContainer-titleGroup {
  display: flex; gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1.2rem 0;
}

.WelcomeContainer-title {
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--primary-color);
}

.WelcomeContainer-icon {
  width: 3.6rem;
  aspect-ratio: 1 / 1;
  fill: var(--primary-color);
}

.WelcomeContainer-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray16-color);
}

.WelcomeContainer-subtitleBold { font-weight: 700; }

.WelcomeContainer-body {
  width: 100%;
  max-width: 58rem;
  display: flex; gap: 2.5em;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(4, 1fr); */
  padding-top: 2em;
}

.WelcomeContainer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  text-align: left;
}
.WelcomeContainer-sectionTitle {
  color: var(--gray14-color);
  font-weight: 700;
  font-size: 1.4em;
}
.WelcomeContainer-sectionSubtitle {
  font-size: 0.8em;
}
.WelcomeContainer-sectionBody {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

.WelcomeContainer.modal-mode {
  display: flex;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 210;
  width: calc(100% - 3rem);
  max-width: 44rem;
  height: auto;
  max-height: calc(100vh - 3rem);
  padding: 2.6em;

  border-radius: 1.2rem;
  font-size: 14px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .3);
}
.WelcomeContainer-modalCloseButton { display: none; }
.WelcomeContainer.modal-mode .WelcomeContainer-modalCloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem; right: 1rem;
  padding: .3rem;
  border-radius: 50%;
  background-color: var(--gray5-color);
}
.WelcomeContainer.modal-mode .WelcomeContainer-modalCloseButton:hover { background-color: var(--gray6-color); }
.WelcomeContainer-modalCloseButtonIcon {
  width: 1.6rem;
  aspect-ratio: 1 / 1;
  stroke: var(--gray16-color);
  fill: transparent;
  transform: translateX(.5px);
  cursor: pointer;
}
.WelcomeContainer-modalHeader {
  display: none;
  width: 100%;
  text-align: left;
  color: var(--gray16-color);
}
.WelcomeContainer-modalHeaderTitle {
  font-size: 1.8em;
  font-weight: 900;
}
.WelcomeContainer.modal-mode .WelcomeContainer-modalHeader {
  display: block;
}

.WelcomeContainer.modal-mode .WelcomeContainer-header { display: none; }

.WelcomeContainer-template {
  width: 12.5em;
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 1em;

  background-color: var(--gray4-color);
  color: var(--gray16-color);
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color .2s  ;
}
.WelcomeContainer-template:hover {
  background-color: var(--primary-opaque-color);
  color: var(--gray4-color);
}

.WelcomeContainer-templateText {
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
  transition: color .2s;
}

.WelcomeContainer-templateIcon {
  width: 1.75em;
  aspect-ratio: 1 / 1;
  fill: var(--gray17-color);
  transition: fill .2s;
}

.WelcomeContainer-template:hover .WelcomeContainer-templateIcon {
  fill: var(--gray4-color);
}

.WelcomeContainer-templateList, .WelcomeContainer-customCanvasList {
  display: flex;
  gap: .8em;
  flex-wrap: wrap;
}

.GroupDimensions {
  display: flex; gap: 1.4em;
  align-items: center;
  flex-wrap: wrap;
}
.GroupDimensions-inputRowContent {
  display: flex; gap: 1.4em;
  align-items: flex-end;
}
.GroupDimensions-inputRow::after {
  content: '.';
  display: block;
  padding-top: .4rem;
  color: red;
  font-size: .8rem;
  font-weight: 400;
  opacity: 0;
}
.GroupDimensions-inputRow.show-error::after {
  content: attr(data-message-error);
  opacity: 1;
}
.GroupDimensions-inputGroup, .GroupLastest {
  display: flex; gap: .7rem;
  flex-direction: column;
  width: fit-content;
}
.GroupDimensions-label, .GroupLastest-label {
  font-size: 1em;
  font-weight: 600;
  color: var(--gray14-color);
}
.GroupDimensions-labelPer {
  padding: .5rem 0;
}
.GroupDimensions-input {
  width: 6em;
  text-align: center;
}
.GroupDimensions-GenerateCustomCanvasButton {
  width: fit-content;
  --horizontal-padding: 4em;
  font-size: 1em;
  padding: 0.8em var(--horizontal-padding);
}
.GroupDimensions-GenerateCustomCanvasButton .Button-icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--gray16-color);
  stroke: var(--gray16-color);
}


/* #endregion */

/* #region ColorPalette */

.ColorPalette {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  /* display: grid;
  grid-auto-columns: 3.5rem;
  grid-auto-rows: 3.5rem;
  grid-auto-flow: row; */
  border-left: 1px solid var(--gray6-color);
}

.ColorPalette-color {
  position: relative;
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.ColorPalette-icon {
  display: none;
  width: 2rem; aspect-ratio: 1 / 1;
  fill: inherit;
  filter: invert(1) brightness(1.5) contrast(1.5) saturate(0.0)
  /* mix-blend-mode: overlay; */
}
.ColorPalette-color.u-black .ColorPalette-icon,
.ColorPalette-color.u-white .ColorPalette-icon { mix-blend-mode: normal; }
.ColorPalette-color.u-black .ColorPalette-icon { fill: #FFFFFF77; }
.ColorPalette-color.u-white .ColorPalette-icon { fill: #00000077; }

.ColorPalette-color:hover {
  transform: scale(1.2);
  border-radius: 5px;
  z-index: 10;
}

.ColorPalette-color.is-selected .ColorPalette-icon { display: initial; }




/* #endregion */

/* #region SettingsBar */

.SettingsBar {
  display: flex;
  grid-area: settingsBar;
  background-color: var(--gray3-color);
}

/* .SettingsBar .Button,
.SettingsBar .ColorPaletteDropdown,
.SettingsBar .ColorPicker {
  width: 100%;
} */

.SettingsPanel {
  width: 12.93rem;
  display: flex; gap: 1rem;
  flex-direction: column;
  padding: 1.25rem 0.625rem;
  border-left: 1px solid var(--gray6-color);

  font-size: 1rem;
  font-weight: 300;
  color: var(--gray14-color);
  overflow: auto;
}

.SettingBlock {
  display: flex; gap: 1rem;
  flex-direction: column;
  margin: 0;
  padding: 0.75rem;

  background-color: var(--gray4-color);
  /* border-bottom: 1px solid var(--gray6-color); */
  border-radius: 5px;
}

.SettingBlock-title {
  display: flex; gap: .5rem;
  align-items: center;

  color: var(--gray16-color);
  font-size: 0.875rem;
  font-weight: 600;
}
.SettingBlock-titleIcon {
  width: 1.25rem; height: 1.25rem;
  fill: var(--gray16-color);
  stroke: none;
}
.SettingBlock-titleIconLinear {
  width: 1.25rem; height: 1.25rem;
  fill: none;
  stroke: var(--gray16-color);
}

.SettingBlock-content {
  display: flex; gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.SettingBlock-input {
  border-style: none;
  border-bottom: 1px solid var(--gray8-color);
  padding: .2rem .3rem;
  font-weight: 300;
  font-size: 1rem;
  color: var(--light-color);
  background-color: transparent;
}
.SettingBlock-input:hover { border-color: var(--gray12-color); }
.SettingBlock-input:focus { border-color: var(--secondary-color); }

.SettingBlock-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.SettingBlock-groupTitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray12-color);
}
.SettingBlock-groupContent {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.SettingBlock-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.CanvasBlock-propertyList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.CanvasBlock-propertyItem {
  font-size: 0.875rem;
  display: flex; gap: 0.625rem;
}

/* #region -- SettingBlock--grid -- */

.SettingBlock--grid .SettingBlock-content {
  width: fit-content;
  display: grid; gap: .5rem;
  grid-template-columns: 3rem 4rem;
  justify-items: end;
  align-items: center;
  align-self: center;
}

.SettingBlock--grid .SettingBlock-input {
  width: 80%;
  justify-self: start;
}

.SettingBlock--grid .SettingBlock-label:nth-child(1) { grid-column: 1; grid-row: 1; }
.SettingBlock--grid .SettingBlock-input:nth-child(2) { grid-column: 2; grid-row: 1; }
.SettingBlock--grid .SettingBlock-label:nth-child(3) { grid-column: 1; grid-row: 2; }
.SettingBlock--grid .SettingBlock-input:nth-child(4) { grid-column: 2; grid-row: 2; }

/* #endregion -- SettingBlock--grid -- */

/* #region -- Button--design2 -- */

/* .Button--design2:hover {
  background-color: var(--gray2-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.Button--design2:hover .Button-icon { fill: var(--primary-color); }

.Button--design2:active {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--gray1-color);
}
.Button--design2:active .Button-icon { fill: var(--secondary-color); } */

/* #endregion -- Button--design2 -- */

/* .btn > .tooltip {
  position: absolute;
  width: 9rem;
  right: 120%;
  top: 25%;
  border-radius: 5px;
  padding: .5rem .7rem;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  font: bold .8rem 'Segoe UI';
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.btn > .tooltip::after {
  content: ''; position: absolute;
  top: calc(50% - 2.5px);
  left: calc(100% + 5px);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, .7);
}
.btn:hover > .tooltip {
  opacity: 1; visibility: visible;
} */

/* #endregion SettingsBar */

/* #region ModalContainer */

.ModalContainer {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  z-index: 120;

  background-color: rgba(103 103 103 / 0.7);
  backdrop-filter: blur(4px);
}
.ModalContainer.is-visible {
  display: flex; gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: relative;
  padding: 3rem 8rem 5rem;
  background-color: var(--gray3-color);
  border-radius: 2rem;
}

.Modal-header {
  display: flex; gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.Modal-headerIcon {
  width: 7rem; height: 7rem;
  fill: var(--primary-color);
}
.Modal-headerText {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--gray17-color);
}
.Modal-body {
}
.Modal-row {
  display: flex; gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.Modal-inputGroup {
  position: relative;
  display: flex;
  margin-top: 2rem;
}
.Modal-input {

}
.Modal-input:focus + .Modal-inputLabel,
.Modal-input:valid + .Modal-inputLabel {
  top: -1.8rem; font-size: .8rem;
}
.Modal-inputLabel {
  position: absolute;
  top: 0; left: 0;
  width: max-content;
  color: var(--gray12-color);
  transition: top .1s, font-size .1s;
}
.Modal-text {
  color: var(--gray12-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.Modal-errorMessage {
  margin-bottom: 3rem;
  color: #f43333;
}
.Modal-errorMessage::before {
  content: "i";
  display: inline-block;
  width: 1.3rem; height: 1.3rem;

  border: 2px solid #f43333;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  margin-right: .3rem;
}
.Modal-errorMessage:empty:before {
  content: "";
  display: none;
}

.Modal-buttonsGroup {
  display: flex;
  justify-content: center;
}

.Modal-closeButton {
  width: 3rem; height: 3rem;
  position: absolute;
  right: 1rem; top: 1rem;

  stroke: var(--gray14-color);
  fill: transparent;

  cursor: pointer;
}
.Modal-closeButton:hover { stroke: var(--gray17-color); }

/* Button--modal */

.Button--modal {
  width: 18rem;
  gap: .5rem;
  padding: 1rem 0;

  border-width: 2px;
  border-radius: 2rem;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--gray2-color);
}
.Button--modal .Button-icon {
  width: 1.5rem; height: 1.5rem;
  fill: var(--primary-color);
}
.Button--modal .Button-text {
  font-size: 1.3rem;
}
.Button--modal:hover { background-color: var(--gray1-color); }

/* Modal--dimensions */

.Modal--dimensions .Modal-input {
  position: relative;
  z-index: 10;
  width: 10rem;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: transparent;
  color: var(--light-color);
  border: 0px solid var(--primary-color);
  border-bottom-width: 1px;
}

.Modal--dimensions {}



/* #endregion */

/* #region Capture */

.capture-modal { display: none; }
.capture-modal.visible { display: block; }

.capture-modal .capture-options {
  display: flex; gap: 1rem;
  justify-content: center;
  padding: 1rem;

  background-color: #222;
  border-radius: .5rem;
}

.capture-modal .capture-options > .btn {
  padding: 1rem;
  color: #eee;
  background-color: initial;
  border-color: transparent;
  border-radius: .2rem;
}
.capture-modal .capture-options > .btn:hover { background-color: #ffffff33; }
.capture-modal .capture-options > .btn:active { background-color: #ffffff55; }
.capture-modal .capture-options > .btn i { font-size: 1.5rem; }

/* Modal para el Nombre del Lienzo */

.save-name-modal {
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.save-name-modal.visible { display: flex; }

.save-name-modal > span {
  font-size: 1.8rem;
  color: #ddd;
}
.save-name-modal > input {
  width: 25rem;
  font-family: 'nirmala ui', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  background-color: initial;
  border-style: none;
  border-bottom: 1px solid #ccc;
  caret-color: #ccc;
}
.save-name-modal > button {
  align-self: flex-end;
  display: flex; gap: .5rem;
  align-items: center;
  width: fit-content;
  padding: .5rem 1rem;

  font-family: inherit;
  font-size: 1.4rem;
  color: #fff;
  background-color: #56CCF2dd;
  border-style: none;
  border-radius: .2rem;
  cursor: pointer;
}
.save-name-modal > button:hover { background-color: #56CCF2; }

/* #endregion */

/* #region Cover */

.Cover {
  position: absolute;
  z-index: 100;
  width: 100%; height: 100%;
  background-color: rgba(0 0 0 / .5);
  filter: contrast(0.5);
}

/* #endregion Cover */

/* #region Backdrop */

.Backdrop {
  display: none;
  position: fixed;
  top: 0; left: 0;
  z-index: 200;
  width: 100%; height: 100vh;
  background-color: rgba(0 0 0 / .5);
}
.Backdrop.is-showed {
  display: block;
}

/* #endregion Backdrop */

/* #region ContextMenu */

.ContextMenu {
  display: none;
  position: absolute;
  width: 14rem;
  padding: 0.375rem;

  background-color: var(--gray2-color);
  border-radius: .5rem;
  outline: none;
  box-shadow: 0 4px 15px 0 rgba(0 0 0 / .25);
}
.ContextMenu.is-showed { display: block; }

.ContextMenu-item {
  display: flex; gap: .5rem;
  align-items: center;
  padding: 0.75rem;

  border-radius: 3px;
  cursor: pointer;
}

.ContextMenu-itemIcon {
  width: 1.25rem; height: 1.25rem;
  stroke: var(--gray16-color);
}

.ContextMenu-itemText {
  flex-grow: 1;
  font-size: 0.812rem;
  color: var(--gray16-color);
}

.ContextMenu-item:hover { background-color: var(--gray4-color); }
.ContextMenu-item:hover .ContextMenu-itemIcon { stroke: var(--gray17-color); }
.ContextMenu-item:hover .ContextMenu-itemText { color: var(--gray17-color); }

/* #endregion ContextMenu */

.CanvasToFitButton {
  fill: none;
  stroke: var(--gray17-color);
}

/* #region UTILS */

.u-black { background-color: black; }
.u-white { background-color: white; }

.u-red {          background-color: #c70639; }
.u-orange {       background-color: #ff8d1a; }
.u-yellow {       background-color: #ffc301; }
.u-lime {         background-color: #eedd53; }
.u-green {        background-color: #add45c; }
.u-green-tur {    background-color: #57c785; }
.u-turquoise {    background-color: #01baad; }
.u-blue {         background-color: #2a7b9b; }
.u-marine-blue {  background-color: #3d3d6b; }
.u-brown {        background-color: #511849; }
.u-cherry {       background-color: #900c3f; }

.u-bc-gray1 {background-color: var(--gray2-color)}
.u-bc-gray2 {background-color: var(--gray4-color)}
.u-bc-gray3 {background-color: var(--gray6-color)}
.u-bc-gray4 {background-color: var(--gray8-color)}
.u-bc-gray5 {background-color: var(--gray10-color)}
.u-bc-gray6 {background-color: var(--gray12-color)}
.u-bc-gray7 {background-color: var(--gray14-color)}
.u-bc-gray8 {background-color: var(--gray16-color)}
.u-bc-gray9 {background-color: var(--gray17-color)}

.u-display-none { display: none; }

.u-display-flex { display: flex; }
.u-flex-direction-column { flex-direction: column; }
.u-align-items-center { align-items: center; }
.u-justify-content-center { justify-content: center; }

.u-gap-2px { gap: 0.125rem; }
.u-gap-4px { gap: 0.25rem; }
.u-gap-6px { gap: 0.375rem; }
.u-gap-8px { gap: 0.5rem; }
.u-gap-12px { gap: 0.75rem; }
.u-gap-16px { gap: 1rem; }
.u-gap-20px { gap: 1.25rem; }
.u-gap-24px { gap: 1.5rem; }
.u-gap-28px { gap: 1.75rem; }
.u-gap-32px { gap: 2rem; }
.u-gap-36px { gap: 2.25rem; }

.u-fs-6px { font-size: 0.375rem; }
.u-fs-8px { font-size: 0.5rem; }
.u-fs-10px { font-size: 0.625rem; }
.u-fs-12px { font-size: 0.75rem; }
.u-fs-14px { font-size: 0.875rem; }
.u-fs-16px { font-size: 1rem; }
.u-fs-18px { font-size: 1.125rem; }
.u-fs-20px { font-size: 1.25rem; }
.u-fs-22px { font-size: 1.375rem; }
.u-fs-24px { font-size: 1.5rem; }
.u-fs-26px { font-size: 0.875rem; }

.u-fw-300 { font-weight: 300; }
.u-fw-400 { font-weight: 400; }
.u-fw-500 { font-weight: 500; }
.u-fw-600 { font-weight: 600; }
.u-fw-700 { font-weight: 700; }
.u-fw-800 { font-weight: 800; }
.u-fw-900 { font-weight: 900; }

.u-color-gray2 { color: var(--gray2-color); }
.u-color-gray4 { color: var(--gray4-color); }
.u-color-gray6 { color: var(--gray6-color); }
.u-color-gray8 { color: var(--gray8-color); }
.u-color-gray10 { color: var(--gray10-color); }
.u-color-gray12 { color: var(--gray12-color); }
.u-color-gray14 { color: var(--gray14-color); }
.u-color-gray16 { color: var(--gray16-color); }
.u-color-gray17 { color: var(--gray17-color); }

.u-width-100p {
  width: 100%;
}

/* #endregion UTILS */

/* OTHERS */

.disabled {
  pointer-events: none;
  filter: opacity(70%);
}